name: Archive Website

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.14.0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Install Chrome for Puppeteer
        run: pnpm exec puppeteer browsers install chrome

      - name: Build TypeScript
        run: pnpm build

      - name: Run archive
        run: pnpm start
        env:
          HEADLESS: true
          CONTENT_DOWNLOAD_DELAY: 200
          DEPLOY_BASE_PATH: /yumemi-open-handbook-archive/

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: output/

  deploy:
    needs: build

    if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
